.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 280px;
  width: 100%;

  padding: 0 20px;

  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: lightseagreen;
  overflow: auto;
  

  background: #E7F4ED;

  cursor: pointer;
}

img {
    max-width:30%;
    height:auto;
}