.Nav {
  display: flex;
  justify-content: space-around;
  align-items: right;

  height: 60px;
  width: 100%;
  padding: 10px 0;

  background: crimson;

  font-family: Arial, sans-serif;
  font-size: 14px;
  color: white;

  box-shadow: 0px -2px 15px rgba(50, 50, 50, 0.45);

  .active {
    color: navy;
  }
}

